{% extends 'menu.html' %}
{% load static %}

{% block header %}
    <link href="{% static 'css/home.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

<body>

    <div id='route-container'>
        <div id = "block-holder">
            <div class = "block-item">
                <h1> 운동 목록 </h1>

                <div id = "projects-holder">
                    
                    <div id = 'card'>
                        {% for training in object_list %}
                        <div id = "main-project" role = "button" tabindex="0" class="project-wrap">
                            <div id = 'project-images'>
                                <slot name = 'images'>
                                    {% for img in training.images.all %}
                                        
                                        <img slot="images" src = "/{{ img.image }}" art="https://via.placeholder.com/100" width='100' height ='100'>
                                    {% endfor %}
                                </slot>
                            </div>
                            <div class="project-body">
                                <div class='slot-container'>
                                    <h3> {{ training.title }} </h3>
                                    <slot name = 'description'>
                                        <p slot="description" class="project-desc"><!---->{{ training.body }}<!----></p>
                                    </slot>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}